*.VC.db
*/Binaries/
*/Intermediate/
*/Saved/
*/Content/FantasyOrchestral/
*/Content/FirstPerson/
*/Content/FirstPersonCPP/
*/Content/Geometry/
*/Content/StarterContent/
*/.vs/RPG_Test/v15/ipch/
*.suo
RPG_Test/Content/Test_RPG/Worlds/TestWorld_BuiltData.uasset
*/Content/AdvancedVillagePack/
